@use "/src/sass/basic/variables" as *;

.catalog {
    background-image: url("/src/img/catalog/bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-block-size: 800px;

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 30px;
        margin-block-start: 10px;
    }

    &__description {
        padding-inline-start: 95px;
        inline-size: 635px;
        color: $text-color;
        font-size: 20px;
        font-weight: 300;
        line-height: 130%;
        letter-spacing: 0.04em;

        span {
            display: block;
            margin-block-start: 30px;
            letter-spacing: 0.02em;
        }
    }

    &__categories {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-block: 30px 72px;
        padding-inline: 30px;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        background: rgba(0, 0, 0, 0.2);

        &-title {
            max-inline-size: 271px;
        }

        &-list {
            padding-inline-start: 0;

            li {
                color: $text-color;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.04em;
                line-height: 27px;
                text-transform: uppercase;
            }
        }

        &-link {
            color: $text-color;
            text-decoration: none;
        }
    }

    &__categories:nth-child(2) {
        inline-size: 445px;
    }

    &__categories:nth-child(3) {
        margin-block-start: -92px;
        inline-size: 540px;
    }

    &__categories:nth-child(4) {
        margin-block-start: 30px;
        padding-inline-start: 50px;
        inline-size: 540px;
    }

    &__link {
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: $accent-color-3;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 18px;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}

@media screen and (max-width: 320px) {
    .catalog {
        background-image: url("/src/img/catalog/bg_mobile.png");
        background-position: center center;
        min-block-size: 1115px;

        &__wrapper {
            flex-direction: column;
            align-items: center;
            column-gap: 0;
            row-gap: 40px;
            margin-block-start: 20px;
        }

        &__description {
            display: none;
        }

        &__categories {
            position: static;
            align-items: center;
            row-gap: 20px;
            width: 100%;
            padding-block: 20px 30px;
            padding-inline: 20px;

            &-title {
                max-inline-size: 181px;
            }

            &-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 6px;

                li {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        &__categories:nth-child(2) {
            order: 2;
            inline-size: 100%;
        }

        &__categories:nth-child(3) {
            order: 1;
            margin-block-start: 0;
            inline-size: 100%;
        }

        &__categories:nth-child(4) {
            order: 3;
            margin-block-start: 0;
            padding-inline-start: 20px;
            inline-size: 100%;
        }

        &__link {
            position: static;
            margin-block-start: 30px;
        }
    }
}