@use "/src/sass/basic/variables" as *;

.promo {
    padding-block-start: 80px;
    position: relative;
    min-block-size: 1244px;
    background-image: url("/src/img/promo/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &__title {
        margin-block-start: 13px;

        span {
            display: block;

            &:last-child {
                margin-block-start: -89px;
            }
        }
    }

    &__description {
        color: $text-color;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 30px;
        text-align: center;
    }

    &__button-catalog {
        margin-block: 47px 0;
        margin-inline: auto;
    }

    &__address {
        position: absolute;
        top: 6px;
        right: 0;
    }

    &__schedule {
        position: absolute;
        top: 31px;
        right: 0;
    }

    &__social-links {
        position: absolute;
        top: 141px;
        right: -17px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    &__phone {
        position: absolute;
        top: 459px;
        right: 0;
        color: $accent-color-1;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__button-call {
        position: absolute;
        top: 490px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 6px;
        padding-block: 9px;
        padding-inline: 18px;
        inline-size: 180px;
        block-size: 40px;
        border: none;
        border-radius: 10px;
        backdrop-filter: blur(20px);
        background: rgba(0, 0, 0, 0.2);
        cursor: pointer;

        img {
            inline-size: 16px;
            block-size: 16px;
        }

        span {
            color: $accent-color-1;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.1em;
            line-height: 21px;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 320px) {
    .promo {
        min-block-size: 747px;
        background-image: url("/src/img/promo/bg_mobile.png");
        background-position: top center;
        background-size: 320px 485px;

        &__title {
            margin-block-start: -53px;

            span {
                &:last-child {
                    margin-block-start: -10px;
                }
            }
        }

        &__description {
            margin-block: 409px 0;
            margin-inline: auto;
            inline-size: 212px;
            font-size: 14px;
            line-height: 21px;
        }

        &__button-catalog {
            margin-block: 20px 0;
            margin-inline: auto;
        }

        &__address {
            display: none;
        }

        &__schedule {
            display: none;
        }

        &__social-links {
            display: none;
        }

        &__phone {
            display: none;
        }

        &__button-call {
            display: none;
        }
    }
}