@mixin basket-line($bottom) {
  &::after {
    content: "";
    position: absolute;
    bottom: $bottom;
    left: 0;
    inline-size: 360px;
    block-size: 1px;
    background-color: #555;
  }

  @media screen and (max-width: 320px) {
    &::after {
      inline-size: 100%;
    }
  }
}