$font-family: "Oswald", sans-serif;
$second-family: "Cormorant", sans-serif;
$bg-color: #040A0A;
$text-color: #FFF;
$accent-color-1: #43FFD2;
$accent-color-2: #7d2253;
$accent-color-3: #D978AC;
$error-color: #FF3A44;