@use "/src/sass/basic/variables" as *;

.custom-bouquet {
  padding-block-end: 160px;
  background-image: url("/src/img/pages/home/custom_bouquet/bg.png");
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .custom-bouquet__img:nth-child(2) {
      inline-size:  255px;
      block-size: 223px;
    }
  }

  &__title {
    max-inline-size: 773px;

    span {
      display: block;

      &:last-child {
        position: relative;
        margin-block-start: -19px;
        padding-inline-start: 380px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -285px;
          inline-size: 255px;
          block-size: 1px;
          background-color: $accent-color-3;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__img {
    img {
      inline-size: 100%;
      block-size: 100%;
      border-radius: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-block-start: 30px;
    margin-inline-start: 74px;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 40px;
    inline-size: 276px;

    &::before {
      content: "";
      position: absolute;
      bottom: 25px;
      left: -20px;
      inline-size: 20px;
      block-size: 60px;
      background-image: url("/src/icons/ui/rounded_arrow.svg");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__description {
    max-inline-size: 255px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    inline-size: 100%;
    padding-inline-start: 21px;

    li {
      color: $text-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    inline-size: 730px;

    .custom-bouquet__img:nth-child(1) {
      inline-size: 255px;
      block-size: 292px;
    }

    .custom-bouquet__img:nth-child(2) {
      inline-size: 160px;
      block-size: 292px;
    }

    .custom-bouquet__img:nth-child(3) {
      inline-size: 255px;
      block-size: 292px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .custom-bouquet {
    background-position: center center;
    background-size: cover;
    //TODO
  }
}

@media screen and (max-width: 320px) {
  .custom-bouquet {
    margin-block-start: -76px;
    padding-block-end: 84px;
    background-image: none;

    &__header {
      display: block;

      .custom-bouquet__img:nth-child(2) {
        display: none;
      }
    }

    &__title {
      max-inline-size: 100%;

      span {
        &:last-child {
          margin-block-start: 0;
          padding-inline-start: 106px;

          &::before {
            left: -106px;
            inline-size: 96px;
          }
        }
      }
    }

    &__img {
      display: none;
    }

    &__wrapper {
      justify-content: center;
      margin-block-start: 20px;
      margin-inline-start: 0;
    }

    &__info {
      align-items: center;
      row-gap: 0;
      inline-size: 100%;

      &::before {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 30px;
        right: 2px;
        inline-size: 39px;
        block-size: 62px;
        background-image: url("/src/icons/ui/rounded_arrow_mobile.svg");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &__description {
      max-inline-size: 100%;
      letter-spacing: 0.02em;
      text-transform: capitalize;
    }

    &__list {
      margin-block-start: 20px;
    }

    &__images {
      display: none;
    }

    &__link {
      margin-block-start: 40px;
    }
  }
}