@use "/src/sass/basic/variables" as *;

.question {
  position: relative;
  padding-block: 22px 52px;
  scroll-margin-block-start: 80px;
  background-color: #0f2222;
  background-image: url("/src/img/pages/home/question/bg.png");
  background-position: 0 -100px;
  background-size: auto;
  background-repeat: no-repeat;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  &::before {
    top: -80px;
    left: 0;
    inline-size: 759px;
    block-size: 1214px;
    background-image: url("/src/img/pages/home/question/flower.png");
  }

  &::after {
    top: 324px;
    left: 491px;
    inline-size: 305px;
    block-size: 120px;
    background-image: url("/src/img/pages/home/question/inscription.png");
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__column-1 {
    inline-size: 632px;
  }

  &__column-2 {
    inline-size: 445px;
    padding-block-start: 114px;

    .question-form {
      inline-size: 100%;

      &__input {
        input,
        textarea {
          border: 1px solid $accent-color-1;
          background-color: #0f2222;

          &,
          &::placeholder {
            color: #395959;
          }

          &:focus {
            outline: 1px solid $accent-color-1;
          }
        }
      }
    }
  }

  &__title {
    max-inline-size: 668px;

    span {
      display: block;

      &:last-child {
        margin-block-start: -19px;
        padding-inline-start: 95px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .question {
    background-position: center center;
    background-size: cover;
    //TODO
  }
}

@media screen and (max-width: 320px) {
  .question {
    padding-block: 30px 34px;
    background-image: url("/src/img/pages/home/question/bg_mobile.png");
    background-position: center top;

    &::before {
      top: -70px;
      left: auto;
      right: 0;
      inline-size: 252px;
      block-size: 378px;
      background-image: url("/src/img/pages/home/question/flower_mobile.png");
    }

    &::after {
      top: 125px;
      left: 89px;
      inline-size: 133px;
      block-size: 40px;
      background-image: url("/src/img/pages/home/question/inscription_mobile.png");
    }

    &__wrapper {
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 135px;
    }

    &__column-1,
    &__column-2  {
      inline-size: 100%;
    }

    &__column-2 {
      padding-block-start: 0;
    }

    &__title {
      max-inline-size: 219px;

      span {
        &:last-child {
          margin-block-start: 0;
          padding-inline-start: 0;
        }
      }
    }
  }
}