@use "/src/sass/basic/variables" as *;

.social {
  padding-block: 261px 200px;
  background-image: url("/src/img/pages/home/social/bg.png");
  background-position: center 120px;
  background-size: auto;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__images {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 730px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -380px;
      inline-size: 350px;
      block-size: 1px;
      background-color: $accent-color-1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -60px;
      right: -335px;
      inline-size: 305px;
      block-size: 120px;
      background-image: url("/src/img/pages/home/social/inscription.png");
      background-position: center center;
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  &__img {
    inline-size: 160px;
    block-size: 160px;

    img {
      inline-size: 100%;
      block-size: 100%;
    }
  }

  &__links {
    column-gap: 30px;
  }

  &__link {
    inline-size: 40px;
    block-size: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .social {
    background-position: center center;
    background-size: cover;
    //TODO
  }
}

@media screen and (max-width: 320px) {
  .social {
    padding-block: 67px 100px;
    background-image: url("/src/img/pages/home/social/bg_mobile.png");
    background-position: center bottom;

    &__wrapper {
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 61px;
    }

    &__images {
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: 6px;
      order: 2;
      inline-size: 100%;

      &::before {
        top: -61px;
        right: auto;
        left: 0;
        inline-size: 124px;
      }

      &::after {
        top: -133px;
        right: auto;
        left: 0;
        inline-size: 133px;
        background-image: url("/src/img/pages/home/social/inscription_mobile.png");
      }
    }

    &__img {
      inline-size: 147px;
      block-size: 137px;
    }

    &__links {
      column-gap: 20px;
      order: 1;
    }

    &__link {
      inline-size: 20px;
      block-size: 20px;
    }
  }
}