<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Страница не найдена</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("src/templates/menu.ejs") %>
    <%- include("src/templates/order-call.ejs") %>
    <%- include("src/templates/cart.ejs") %>
    <%- include("src/templates/header.ejs") %>
    <main>
        <section class="not-found header-modification-point">
            <div class="container">
                <div class="not-found__wrapper">
                    <h1 class="title title-h1-v3 not-found__title">Ошибка 404</h1>
                    <div class="not-found__info">Упс...Такой страницы нет</div>
                    <a href="/index" class="not-found__link">на главную</a>
                </div>
            </div>
        </section>
    </main>
    <%- include("src/templates/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>