<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>О нас</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("blocks/menu.ejs") %>
    <%- include("blocks/order_call.ejs") %>
    <%- include("blocks/cart.ejs") %>
    <%- include("blocks/header.ejs") %>
    <main>
        <section class="about header-modification-point">
            <div class="about-info about__info">
                <h2 class="title title-h2-v7 about-info__title">
                    <span>Lover</span>
                    <span>flower</span>
                </h2>
                <div class="about-info__content">
                    <p class="about-info__text about-info__text--uppercase about-info__text--letter-spacing">молодая
                        команда
                        разных людей с одинаковыми ценностями.</p>
                    <p class="about-info__text">Мы считаем, что удовольствие от качества длится дольше, чем удовольствие
                        от
                        низкой цены. И поэтому в создание нашей букетерии мы вложили все, чем располагаем: душу, сердце,
                        время и мечты! Мы готовы обещать вам только то, что можем сделать. А делаем мы только самое
                        качественное, самое интересное и обязательно уникальное. Мы всегда честны со своими клиентами во
                        всем – в нашем каталоге только те букеты, которые вы действительно сможете купить.</p>
                </div>
            </div>
            <div class="container">
                <ul class="pages-links about__page-links">
                    <li><a href="/index" class="pages-links__link">Главная</a></li>
                    <li><a href="/about" class="pages-links__link">О нас</a></li>
                </ul>
                <h1 class="title title-h1-v2 about__title">О нас</h1>
                <div class="about__wrapper">
                    <div about="" class="about-guarantee about__guarantee">
                        <h2 class="title title-h2-v7 about-guarantee__title">гарантии</h2>
                        <p class="about-guarantee__text">Каждый цветок уникален и чтобы вы были уверены в качестве, мы
                            пришлем вам фотографию именно вашего букета до его отправки получателю. Вся предоставленная
                            Вами
                            информация конфиденциальна и будет известна только нам и курьеру для осуществления доставки.
                        </p>
                    </div>
                    <div class="about-possibilities about__possibilities">
                        <h2 class="title title-h2-v7 about-possibilities__title">
                            <span>Заказ букетов на</span>
                            <span>сайте компании</span>
                            <span>Lower Flower – это:</span>
                        </h2>
                        <ul class="about-possibilities__items">
                            <li class="about-possibilities__item">выбор оттенков и сортов цветков в любое время года;
                            </li>
                            <li class="about-possibilities__item">отправка фото готовой композиции перед отправкой;</li>
                            <li class="about-possibilities__item">возможность заказать цветы с доставкой в течение часа;
                            </li>
                            <li class="about-possibilities__item">выгодные цены – на сайте только те варианты, что Вы
                                сможете купить;
                            </li>
                            <li class="about-possibilities__item">полная конфиденциальность по заказу;</li>
                            <li class="about-possibilities__item">мы подбираем открытку, воздушные шар, подарок по
                                Вашему
                                желанию;
                            </li>
                            <li class="about-possibilities__item">в нашем уютном цветочном магазине цветы, которые
                                приятно
                                дарить.
                            </li>
                        </ul>
                    </div>
                    <div class="about-promo about__promo">
                        <span>Природная гармония цвета, неповторимость бутонов</span>
                        <span>и Ваши чувства</span>
                        <span>в нежных лепестках</span>
                        <span>не оставят никого</span>
                        <span>равнодушным.</span>
                    </div>
                    <div class="about-service-info about__service-info">Вы выбираете и заказываете цветочный сюрприз, а
                        мы
                        вкладываем в него душу!
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("blocks/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>