<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Корпоративным клиентам</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("blocks/menu.ejs") %>
    <%- include("blocks/order_call.ejs") %>
    <%- include("blocks/cart.ejs") %>
    <%- include("blocks/header.ejs") %>
    <main>
        <section class="corporate-information header-modification-point">
            <div class="container">
                <ul class="pages-links corporate-information__page-links">
                    <li><a href="/index" class="pages-links__link">Главная</a></li>
                    <li><a href="/delivery_payment" class="pages-links__link">Корпоративным клиентам</a>
                    </li>
                </ul>
                <h1 class="title title-h1-v2 corporate-information__title">Букеты</h1>
                <div class="corporate-information__wrapper">
                    <div class="corporate-information__congratulation-explanation">
                        <span>поздравления для</span>
                        <span>Ваших работников</span>
                    </div>
                    <div class="corporate-information-congratulation-info corporate-information__congratulation-info">
                        <p
                            class="corporate-information__text corporate-information__text--uppercase corporate-information__congratulation-text">
                            Если у Вас большое количество сотрудников (или не очень) и вы устали помнить о
                            каждом их Дне рождении и как чем поздравить, то <span
                                class="corporate-information__text--accent-color-1 corporate-information__text--font-weight-400">мы
                                можем делать это за Вас</span>.
                        </p>
                        <p class="corporate-information__text corporate-information__congratulation-text">
                            Одним вариантом сотрудничества является предоставление нам перечня сотрудников с
                            Днями их рождений и мы уже самостоятельно связываемся с каждым, изготавливаем
                            букет либо композицию и доставляем в удобное время сотруднику либо по месту
                            работы либо по месту жительства, так как в настоящее время многие сотрудники
                            продолжают выполнять работу удалённо либо находятся на больничном или в
                            отпуске.</p>
                        <p class="corporate-information__text corporate-information__congratulation-text">
                            Другим вариантом сотрудничества является заказ букетов самостоятельно
                            представителем организации за день до нужной даты.</p>
                        <p class="corporate-information__text corporate-information__congratulation-text">
                            Так вы <span
                                class="corporate-information__text--accent-color-1 corporate-information__text--font-weight-400">экономите
                                время</span>
                            остальных сотрудников на сбор денег на поиск подарка и
                            доставку его получателю, а также оберегаете себя от риска пропустить кого-либо
                            из важных организации людей, а именно так Вы проявляете заботу и внимание к
                            сотрудникам для того, чтобы и к делам Вашей организации они относились со всей
                            внимательностью и также не пропускали важные дни.</p>
                    </div>
                    <div class="corporate-information__bouquet-style-explanation">Букеты могут
                        изготавливаться в фирменном цвете организации и есть возможность делать поздравления
                        на Вашей фирменной открытке, которую мы можем изготовить сами
                    </div>
                    <div class="corporate-information__minimum-price">Стоимость одного букета не менее 60
                        рублей.
                    </div>
                    <div class="corporate-information-bonus corporate-information__bonus">
                        <table class="corporate-information-bonus__table">
                            <tr>
                                <th>Количество заявок в месяц</th>
                                <th>Приятные бонусы</th>
                            </tr>
                            <tr>
                                <td>1-2</td>
                                <td>Стоимость одной доставки по Минску – 10 рублей, за пределы МКАД – от 20
                                    рублей
                                </td>
                            </tr>
                            <tr>
                                <td>3-10</td>
                                <td>
                                    <ul>
                                        <li>Доставка бесплатно</li>
                                        <li>Букет-подарок руководителю в его День рождения</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Более 10</td>
                                <td>
                                    <ul>
                                        <li>Доставка бесплатно</li>
                                        <li>Букет-подарок руководителю в его День рождения</li>
                                        <li>Праздничная ель перед Новым годом</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="corporate-information-steps corporate-information__steps">
                        <h2 class="title title-h2-v9 corporate-information-steps__title">этапы работы:</h2>
                        <ol class="corporate-information-steps__items">
                            <li class="corporate-information-steps__item">Заполнение заявки</li>
                            <li class="corporate-information-steps__item">Подписание договора</li>
                            <li class="corporate-information-steps__item">Вручение цветов</li>
                            <li class="corporate-information-steps__item">Отчет о доставленных заказах</li>
                            <li class="corporate-information-steps__item">оплата</li>
                        </ol>
                    </div>
                    <div class="corporate-information__single-order-explanation">Если у Вас единичный заказ,
                        то
                        можете выбрать букет в каталоге либо заказать индивидуальный букет и указать его
                        стоимость,
                        а при оформлении заказа в корзине указать, что оплата будет производиться с
                        расчётного счёта
                        организации.
                    </div>
                    <div class="corporate-information-bid corporate-information__bid">
                        <h2 class="title title-h2-v10 corporate-information-bid__title">заполните
                            заявку:</h2>
                        <form action="" class="form bid-form corporate-information__form" id="bid-form">
                            <div class="bid-form__column">
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-organization-name" class="bid-form__label">Наименование
                                        организации</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-organization-name" name="organization-name"
                                            placeholder="Введите наименование вашей организации" required type="text"
                                            class="input">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-mailing-address" class="bid-form__label">Почтовый
                                        адрес</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-mailing-address" name="mailing-address"
                                            placeholder="Введите почтовый адрес" required type="text" class="input">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-name" class="bid-form__label">Контактное
                                        лицо</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-name" name="name" placeholder="Введите имя контактного лица"
                                            required type="text" class="input">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-phone-number" class="bid-form__label">Контактный
                                        номер телефона</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-phone-number" name="phone-number"
                                            placeholder="+7 (977) 777-77-77" required type="tel" class="input">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-price" class="bid-form__label">Стоимость букета
                                        сотруднику <span class="bid-form__label--font-size-12">(если разная –
                                            указать)</span></label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-price" name="price"
                                            placeholder="Укажите стоимость букета сотруднику" required type="text"
                                            class="input">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-email" class="bid-form__label">Адрес электронной
                                        почты</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-email" name="email"
                                            placeholder="Укажите ваш адрес электронной почты" required type="email"
                                            class="input">
                                    </div>
                                </div>
                            </div>
                            <div class="bid-form__column">
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-tax-number" class="bid-form__label">УНП</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-tax-number" name="tax-number" placeholder="УНП" required
                                            type="text" class="input" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-current-account" class="bid-form__label">Расчетный
                                        счет</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-current-account" name="current-account"
                                            placeholder="Введите номер расчетного счета" required type="text"
                                            class="input" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-bank-code" class="bid-form__label">Код
                                        банка</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-bank-code" name="bank-code" placeholder="Код банка" required
                                            type="text" class="input" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="form-block bid-form__block">
                                    <label for="bid-form-bids-number" class="bid-form__label">Предполагаемое
                                        количество заявок в
                                        месяц</label>
                                    <div class="input-wrapper bid-form__input">
                                        <input id="bid-form-bids-number" name="bids-number"
                                            placeholder="Введите предполагаемое количество заявок в месяц" required
                                            type="text" class="input" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                            <button class="button button-order bid-form__button">отправить</button>
                            <div class="form__info bid-form__info">Нажимая на кнопку «Отправить», я даю свое
                                согласие на обработку персональных данных, в соответствии с <a href="">Политикой
                                    конфиденциальности</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("blocks/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>