<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Доставка и оплата</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("blocks/menu.ejs") %>
    <%- include("blocks/order_call.ejs") %>
    <%- include("blocks/cart.ejs") %>
    <%- include("blocks/header.ejs") %>
    <main>
        <section class="delivery-payment header-modification-point">
            <div class="container">
                <ul class="pages-links delivery-payment__page-links">
                    <li><a href="/index" class="pages-links__link">Главная</a></li>
                    <li><a href="/delivery_payment" class="pages-links__link">Доставка и оплата</a></li>
                </ul>
                <h1 class="title title-h1-v2 delivery-payment__title">
                    <span>доставка</span>
                    <span>и оплата</span>
                </h1>
                <div class="delivery-payment__wrapper">
                    <div class="delivery-payment-warning delivery-payment__warning">
                        <h2 class="title title-h2-v5 delivery-payment-warning__title">Дорогие клиенты!</h2>
                        <p class="delivery-payment-warning__text">Во время пандемии (COVID-19) компания Lover Flower
                            призывает всех меньше контактировать с другими людьми для защиты себя и своих близких.
                            Именно
                            поэтому мы организовали <span
                                class="delivery-payment-warning__text--accent-color-1">БЕСКОНТАКТНУЮ ДОСТАВКУ</span>
                        </p>
                    </div>
                    <div class="delivery-payment-payment-methods delivery-payment__payment-methods">
                        <h2 class="title title-h2-v6 delivery-payment-payment-methods__title">Способы оплаты:</h2>
                        <ul class="delivery-payment-payment-methods__items">
                            <li>
                                <div class="delivery-payment-payment-methods__item">БАНКОВСКОЙ КАРТОЙ ПРИ ОФОРМЛЕНИИ
                                    ЗАКАЗА
                                    ЧЕРЕЗ САЙТ или по ссылке
                                </div>
                            </li>
                            <li>
                                <div class="delivery-payment-payment-methods__item">НАЛИЧНЫМИ, БАНКОВСКОЙ КАРТОЙ ПРИ
                                    САМОВЫВОЗЕ или с расчетного счета орагнизации
                                </div>
                            </li>
                            <li>
                                <div class="delivery-payment-payment-methods__item">НАЛИЧНЫМИ ПРИ ДОСТАВКЕ КУРЬЕРОМ
                                </div>
                            </li>
                            <li>
                                <div class="delivery-payment-payment-methods__item">КРИПТОВАЛЮТОЙ</div>
                            </li>
                        </ul>
                    </div>
                    <div class="delivery-payment-delivery-cost delivery-payment__delivery-cost">
                        <h2 class="title title-h2-v6 delivery-payment-delivery-cost__title">стоимость доставки:</h2>
                        <ul class="delivery-payment-delivery-cost__items">
                            <li class="delivery-payment-delivery-cost__item"><span
                                    class="delivery-payment-delivery-cost__item--font-weight-700">Бесплатно</span> – при
                                заказе на сумму <span class="delivery-payment-delivery-cost__item--accent-color-1">от 90
                                    рублей</span>
                            </li>
                            <li class="delivery-payment-delivery-cost__item"><span
                                    class="delivery-payment-delivery-cost__item--font-weight-700">10 рублей</span> – при
                                заказе на сумму <span class="delivery-payment-delivery-cost__item--accent-color-1">менее
                                    90 рублей</span>
                            </li>
                            <li class="delivery-payment-delivery-cost__item">Так же вы можете забрать ваш заказ
                                самостоятельно по адресу:
                                <div class="delivery-payment-delivery-cost__item--accent-color-1">
                                    <address>г. Минск, ул. Тимирязева д. 67, комн. 112</address>
                                    ежедневно с
                                    <time datetime="10:00">10.00</time>
                                    до
                                    <time datetime="21:00">21.00</time>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="delivery-payment-delivery-offer delivery-payment__delivery-offer">
                        <h2 class="title title-h2-v6 delivery-payment-delivery-offer__title">Условия доставки:</h2>
                        <ul class="delivery-payment-delivery-offer__items">
                            <li class="delivery-payment-delivery-offer__item">Доставка осуществляется по городу Минску в
                                пределах МКАД <span class="delivery-payment-delivery-offer__item--accent-color-1">в
                                    любой день</span>
                            </li>
                            <li class="delivery-payment-delivery-offer__item">Возможность, сроки и стоимость доставки за
                                пределы МКАД, доставки в ночное время, праздники <span
                                    class="delivery-payment-delivery-offer__item--accent-color-1">оговариваются с
                                    менеджером</span>
                            </li>
                        </ul>
                    </div>
                    <div class="delivery-payment-additionally delivery-payment__additionally">
                        <div class="delivery-payment-additionally__container">
                            <h2 class="title title-h2-v6 delivery-payment-addition__title">Дополнительно:</h2>
                            <div class="delivery-payment-additionally__content">
                                <p class="delivery-payment-additionally__text">Доставка иному лицу возможна только в
                                    случае
                                    оплаты
                                    заказа заказчиком. Доставка осуществляется не ранее чем через 2 часа после оплаты
                                    заказа, но
                                    может быть ранее, если букет есть в наличии либо по договорённости
                                    с менеджером.</p>
                                <p class="delivery-payment-additionally__text">Время ожидания курьера составляет 15
                                    минут.</p>
                                <p class="delivery-payment-additionally__text">В случае если на момент доставки цветов
                                    получателя
                                    нет либо нет возможности по иным причинам произвести доставку (указан неточный
                                    адрес,
                                    закрытая
                                    входная дверь, контрольно-пропускная система и др.), мы оставляем за собой право по
                                    собственному
                                    выбору:</p>
                                <ul class="delivery-payment-additionally__items">
                                    <li class="delivery-payment-additionally__item">оставить цветы тому, кто открыл
                                        дверь;
                                    </li>
                                    <li class="delivery-payment-additionally__item">с заказчиком согласовать повторную
                                        доставку, которая дополнительно оплачивается;
                                    </li>
                                    <li class="delivery-payment-additionally__item">отказаться от передачи цветов без
                                        возврата денежных средств.
                                    </li>
                                </ul>
                                <p
                                    class="delivery-payment-additionally__text delivery-payment-additionally__text--big-gap">
                                    Если вы либо иной получатель не получили
                                    заказ, вам необходимо сообщить об этом менеджеру по телефону <a
                                        href="tel:+375291136969" class="delivery-payment-additionally__phone">+375
                                        29 113 69 69</a>.</p>
                            </div>
                        </div>
                        <div class="delivery-payment-additionally__container">
                            <h2 class="title title-h2-v6 delivery-payment-addition__title">Возврат денег:</h2>
                            <div class="delivery-payment-additionally__content">
                                <p class="delivery-payment-additionally__text">При отказе заказчика от заказа в течение
                                    двух
                                    часов, если заказ ещё не начал готовиться, средства возвращаются в полном объёме.
                                    Если
                                    же флорист начал подготовку, то заказчик имеет право на возврат 50% стоимости, либо,
                                    если ещё не был оплачен, то обязан оплатить 50%</p>
                                <p
                                    class="delivery-payment-additionally__text delivery-payment-additionally__text--big-gap">
                                    Цветы надлежащего качества возврату и обмену
                                    не подлежат, а если имеются какие-либо недостатки в цветах – возврат производится
                                    лишь
                                    если эти недостатки не являются природными и естественными изъянами растения.</p>
                                <p class="delivery-payment-additionally__text">Возврат денежных средств производится
                                    незамедлительно на тот счёт, с которого произошла оплата, их же поступление на счёт
                                    зависит от платёжной системы.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("blocks/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>