<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Lover Flower</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("src/templates/menu.ejs") %>
    <%- include("src/templates/order-call.ejs") %>
    <%- include("src/templates/cart.ejs") %>
    <%- include("src/templates/header.ejs") %>
    <main>
        <section class="promo">
            <div class="container">
                <h1 class="title title-h1-v1 promo__title">
                    <span>Lover</span>
                    <span>Flower</span>
                </h1>
                <div class="promo__description">Создаём для тех, кто ценит свежесть и изящество цветка</div>
                <a class="button button-catalog promo__button-catalog" href="#">смотреть каталог</a>
                <address class="address promo__address">ул. Тимирязева 67</address>
                <div class="schedule promo__schedule">
                    <span><time datetime="10:00">10:00</time> до <time datetime="21:00">21:00</time></span>
                    <span>без выходных</span>
                </div>
                <ul class="social-links promo__social-links">
                    <li>
                        <a class="social-links__item" href="">
                            <img alt="instagram" src="/src/icons/promo/instagram.svg">
                        </a>
                    </li>
                    <li>
                        <a class="social-links__item" href="">
                            <img alt="whatsapp" src="/src/icons/promo/whatsapp.svg">
                        </a>
                    </li>
                    <li>
                        <a class="social-links__item" href="">
                            <img alt="viber" src="/src/icons/promo/viber.svg">
                        </a>
                    </li>
                </ul>
                <a class="promo__phone" href="tel:+375291136969">+375 (29) 113-69-69</a>
                <button class="order-call-button promo__button-call">
                    <img alt="phone" src="/src/icons/promo/phone.svg">
                    <span>заказать звонок</span>
                </button>
                <div class="cart-button-container">
                    <!--Dynamic generation...!-->
                </div>
            </div>
        </section>
        <section class="catalog header-modification-point">
            <div class="container">
                <h2 class="title title-h2-v1 catalog__title">каталог</h2>
                <div class="catalog__wrapper">
                    <div class="catalog__description">
                        <p>У нас самый большой выбор цветов, букетов, открыток и подарков. Мы всегда поможем
                            вам
                            подобрать
                            букет для вашего события, наш менеджер вас проконсультирует и поможет
                            определиться с
                            выбором</p>
                        <span>Ознакомьтесь с нашими разделами каталога</span>
                    </div>
                    <div class="catalog__categories">
                        <h3 class="title title-h3-v1 catalog__categories-title">готовые букеты из
                            сухоцветов</h3>
                        <ul class="catalog__categories-list">
                            <li><a class="catalog__categories-link" href="">букеты</a></li>
                            <li><a class="catalog__categories-link" href="">для интерьера</a></li>
                            <li><a class="catalog__categories-link" href="">Композиции</a></li>
                        </ul>
                        <a class="catalog__link" href="">смотреть каталог</a>
                    </div>
                    <div class="catalog__categories">
                        <h3 class="title title-h3-v1 catalog__categories-title">Цветы</h3>
                        <ul class="catalog__categories-list">
                            <li><a class="catalog__categories-link" href="">Сборные букеты</a></li>
                            <li><a class="catalog__categories-link" href="">Монобукеты</a></li>
                            <li><a class="catalog__categories-link" href="">Композиции из цветов</a></li>
                            <li><a class="catalog__categories-link" href="">розы</a></li>
                            <li><a class="catalog__categories-link" href="">свадебные</a></li>
                        </ul>
                        <a class="catalog__link" href="">смотреть каталог</a>
                    </div>
                    <div class="catalog__categories">
                        <h3 class="title title-h3-v1 catalog__categories-title">дополнительно</h3>
                        <ul class="catalog__categories-list">
                            <li><a class="catalog__categories-link" href="">шары</a></li>
                            <li><a class="catalog__categories-link" href="">игрушки</a></li>
                            <li><a class="catalog__categories-link" href="">открытки</a></li>
                            <li><a class="catalog__categories-link" href="">упаковка</a></li>
                        </ul>
                        <a class="catalog__link" href="">смотреть каталог</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="popular-products">
            <div class="container">
                <h2 class="title title-h2-v1 popular-products__title">
                    <span>Популярные</span>
                    <span>букеты</span>
                </h2>
                <div class="popular-products__description">Самые любимые композиции наших клиентов</div>
            </div>
            <div class="popular-products__wrapper">
                <div class="swiper popular-products__slider">
                    <div class="swiper-wrapper popular-products__slides">
                        <div class="swiper-slide popular-products__slide">
                            <div class="popular-products__card desired-product" data-id="product_1">
                                <div class="popular-products__new">New</div>
                                <div class="popular-products__img desired-product__img">
                                    <img alt="img 1" src="/src/img/pages/home/popular_products/img_1.jpg">
                                </div>
                                <a class="popular-products__name desired-product__name" href="">лучший
                                    день</a>
                                <div class="popular-products__price">
                                    <div class="popular-products__price--new">
                                        <span class="price-value desired-product__price">167.00</span>
                                        <span class="prince-currency">₽</span>
                                    </div>
                                </div>
                                <form action="#">
                                    <button class="button button-basket desired-product__button" type="button">В
                                        корзину
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="swiper-slide popular-products__slide">
                            <div class="popular-products__card desired-product" data-id="product_2">
                                <div class="popular-products__img desired-product__img">
                                    <img alt="img 2" src="/src/img/pages/home/popular_products/img_2.jpg">
                                </div>
                                <a class="popular-products__name desired-product__name" href="">лучший
                                    день</a>
                                <div class="popular-products__price">
                                    <div class="popular-products__price--new">
                                        <span class="price-value desired-product__price">167.00</span>
                                        <span class="prince-currency">₽</span>
                                    </div>
                                </div>
                                <form action="#">
                                    <button class="button button-basket desired-product__button" type="button">В
                                        корзину
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="swiper-slide popular-products__slide">
                            <div class="popular-products__card desired-product" data-id="product_3">
                                <div class="popular-products__sale">Sale</div>
                                <div class="popular-products__img desired-product__img">
                                    <img alt="img 3" src="/src/img/pages/home/popular_products/img_3.jpg">
                                </div>
                                <a class="popular-products__name desired-product__name" href="">лучший
                                    день</a>
                                <div class="popular-products__price">
                                    <div class="popular-products__price--new">
                                        <span class="price-value desired-product__price">167.00</span>
                                        <span class="prince-currency">₽</span>
                                    </div>
                                    <div class="popular-products__price--old">
                                        <span class="price-value">187.00</span>
                                        <span class="prince-currency">₽</span>
                                    </div>
                                </div>
                                <form action="#">
                                    <button class="button button-basket desired-product__button" type="button">В
                                        корзину
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="swiper-slide popular-products__slide">
                            <div class="popular-products__card desired-product" data-id="product_4">
                                <div class="popular-products__img desired-product__img">
                                    <img alt="img 2" src="/src/img/pages/home/popular_products/img_2.jpg">
                                </div>
                                <a class="popular-products__name desired-product__name" href="">лучший
                                    день</a>
                                <div class="popular-products__price">
                                    <div class="popular-products__price--new">
                                        <span class="price-value desired-product__price">167.00</span>
                                        <span class="prince-currency">₽</span>
                                    </div>
                                </div>
                                <form action="#">
                                    <button class="button button-basket desired-product__button" type="button">В
                                        корзину
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-products__prev">
                    <img alt="prev" src="/src/icons/popular_products/prev.svg">
                </div>
                <div class="popular-products__next">
                    <img alt="next" src="/src/icons/popular_products/next.svg">
                </div>
            </div>
            <div class="container">
                <a class="popular-products__link" href="">
                    <span>смотреть весь каталог</span>
                    <img alt="more" src="/src/icons/popular_products/more.svg">
                </a>
            </div>
        </section>
        <section class="order-steps">
            <div class="container">
                <h2 class="title title-h2-v1 order-steps__title">
                    <span>Как сделать</span>
                    <span>заказ</span>
                </h2>
                <div class="order-steps__wrapper">
                    <div class="order-steps__column">
                        <ul class="order-steps__items">
                            <li>
                                <div class="order-steps__item">
                                    <h3 class="title title-h3-v2 order-steps__subtitle">1 шаг</h3>
                                    <div class="order-steps__description">Выберите какие цветы или подарки
                                        вы хотите
                                        купить
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="order-steps__item">
                                    <h3 class="title title-h3-v2 order-steps__subtitle">2 шаг</h3>
                                    <div class="order-steps__description">Оформите заказ, и мы отправим вам
                                        подтверждение на
                                        электронную почту, а так же менеджер свяжется с вами по телефону или
                                        в
                                        WhatsApp
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="order-steps__item">
                                    <h3 class="title title-h3-v2 order-steps__subtitle">3 шаг</h3>
                                    <div class="order-steps__description">Наши флористы бережно подойдут к
                                        созданию
                                        букета
                                        цветов в самом начале дня или накануне
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="order-steps__column">
                        <ul class="order-steps__items">
                            <li>
                                <div class="order-steps__item">
                                    <h3 class="title title-h3-v2 order-steps__subtitle">4 шаг</h3>
                                    <div class="order-steps__description">Один из наших курьеров или
                                        партнёров
                                        доставит ваш
                                        заказ по указанному адресу. Мы отправим вам сообщение в Whats App
                                        как только
                                        заказ
                                        будет доставлен
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="order-steps__item">
                                    <h3 class="title title-h3-v2 order-steps__subtitle">5 шаг</h3>
                                    <div class="order-steps__description">Наслаждайтесь цветами , если вы
                                        заказали
                                        их для
                                        дома или любовью, которой поделились, если вы заказали для друга
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="custom-bouquet">
            <div class="container">
                <div class="custom-bouquet__header">
                    <h2 class="title title-h2-v1 custom-bouquet__title">
                        <span>особенный</span>
                        <span>повод</span>
                    </h2>
                    <div class="custom-bouquet__img">
                        <img alt="img 1" src="/src/img/pages/home/custom_bouquet/img_1.jpg">
                    </div>
                </div>
                <div class="custom-bouquet__wrapper">
                    <div class="custom-bouquet__info">
                        <div class="custom-bouquet__description">Мы готовы прийти на помощь и собрать
                            уникальный
                            букет, на
                            любой вкус, бюджет и для любого события по вашему индивидуальному заказу.
                        </div>
                        <ul class="custom-bouquet__list">
                            <li>учтем даже самые изысканные пожелания;</li>
                            <li>подберем свежайшие цветы и сделаем уникальный букет или композицию;</li>
                            <li>оплатить можно при получении или онлайн на сайте</li>
                        </ul>
                        <a class="button button-bouquet custom-bouquet__link" href="#question">собрать
                            индивидуальный
                            букет</a>
                    </div>
                    <div class="custom-bouquet__images">
                        <div class="custom-bouquet__img">
                            <img alt="img 2" src="/src/img/pages/home/custom_bouquet/img_2.jpg">
                        </div>
                        <div class="custom-bouquet__img">
                            <img alt="img 3" src="/src/img/pages/home/custom_bouquet/img_3.jpg">
                        </div>
                        <div class="custom-bouquet__img">
                            <img alt="img 4" src="/src/img/pages/home/custom_bouquet/img_4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="question" class="question">
            <div class="container">
                <div class="question__wrapper">
                    <div class="question__column-1">
                        <h2 class="title title-h2-v1 question__title">
                            <span>остались</span>
                            <span>вопросы?</span>
                        </h2>
                    </div>
                    <div class="question__column-2">
                        <%- include("src/templates/question-form.ejs") %>
                    </div>
                </div>
            </div>
        </section>
        <section class="social">
            <div class="container">
                <div class="social__wrapper">
                    <div class="social__images">
                        <div class="social__img">
                            <img alt="img 1" src="/src/img/pages/home/social/img_1.jpg">
                        </div>
                        <div class="social__img">
                            <img alt="img 2" src="/src/img/pages/home/social/img_2.jpg">
                        </div>
                        <div class="social__img">
                            <img alt="img 3" src="/src/img/pages/home/social/img_3.jpg">
                        </div>
                        <div class="social__img">
                            <img alt="img 4" src="/src/img/pages/home/social/img_4.jpg">
                        </div>
                    </div>
                    <ul class="social-links social__links">
                        <li>
                            <a class="social-links__item social__link" href="">
                                <img alt="instagram" src="/src/icons/promo/instagram.svg">
                            </a>
                        </li>
                        <li>
                            <a class="social-links__item social__link" href="">
                                <img alt="whatsapp" src="/src/icons/promo/whatsapp.svg">
                            </a>
                        </li>
                        <li>
                            <a class="social-links__item social__link" href="">
                                <img alt="viber" src="/src/icons/promo/viber.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <%- include("src/templates/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>