<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Оформление заказа</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("src/templates/menu.ejs") %>
    <%- include("src/templates/order-call.ejs") %>
    <%- include("src/templates/cart.ejs") %>
    <%- include("src/templates/header.ejs") %>
    <main>
        <section class="order header-modification-point">
            <div class="container">
                <ul class="pages-links order__links">
                    <li><a href="/index" class="pages-links__link">Главная</a></li>
                    <li><a href="/order" class="pages-links__link">оформление заказа</a></li>
                </ul>
                <h1 class="title title-h1-v2 order__title">
                    <span>оформление</span>
                    <span>заказа</span>
                </h1>
                <div class="order__wrapper">
                    <div class="order__column-1">
                        <h2 class="title title-h2-v3 order__subtitle">Оформление заказа</h2>
                        <form action="#" class="form order-form order__form" id="order-form">
                            <h3 class="title title-h3-v3 order-form__title">Контактные данные</h3>
                            <div class="form-block order-form__contact-input">
                                <label for="order-name">Ваше имя*</label>
                                <div class="input-wrapper">
                                    <input id="order-name" name="name" placeholder="Введите ваше имя" required
                                        type="text" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__contact-input">
                                <label for="order-phone">Ваш телефон*</label>
                                <div class="input-wrapper">
                                    <input id="order-phone" name="phone" placeholder="+7 (977) 777-77-77" required
                                        type="tel" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__contact-input">
                                <label for="order-email">Ваш e-mail*</label>
                                <div class="input-wrapper">
                                    <input id="order-email" name="email" placeholder="Введите вашу почту" required
                                        type="email" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__contact-input">
                                <label for="order-recipient-phone">Телефон получателя (необязательно)</label>
                                <div class="input-wrapper">
                                    <input id="order-recipient-phone" name="recipient-phone"
                                        placeholder="+7 (977) 777-77-77" type="tel" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__contact-input">
                                <label for="order-recipient-name">Имя получателя (необязательно)</label>
                                <div class="input-wrapper">
                                    <input id="order-recipient-name" name="recipient-name"
                                        placeholder="Введите имя получателя" type="text" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__contact-input">
                                <label for="order-message">Комментарий к заказу</label>
                                <div class="input-wrapper">
                                    <textarea id="order-message" name="message"
                                        placeholder="Примечания к вашеу заказу, особые пожелания отделу доставки"
                                        rows="1" class="input"></textarea>
                                </div>
                            </div>
                            <h3 class="title title-h3-v3 order-form__title">Доставка</h3>
                            <div class="form-block order-form__delivery-method-radio" id="order-delivery-method">
                                <label for="order-delivery-method-1" class="order-custom-radio">
                                    <input id="order-delivery-method-1" type="radio" name="delivery-method"
                                        value="Самовывоз" checked>
                                    <span class="radio-mark"></span>
                                    Самовывоз
                                </label>
                                <label for="order-delivery-method-2" class="order-custom-radio">
                                    <input id="order-delivery-method-2" type="radio" name="delivery-method"
                                        value="Доставка курьером">
                                    <span class="radio-mark"></span>
                                    Доставка курьером
                                </label>
                            </div>
                            <div class="form-block order-form__delivery-input order-form__delivery-input--big">
                                <label for="order-city">Город*</label>
                                <div class="input-wrapper">
                                    <select name="city" id="order-city" required class="input">
                                        <option value="" disabled selected>Выберите город</option>
                                        <!--Dynamic generation!-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-block order-form__delivery-input order-form__delivery-input--big">
                                <label for="order-street">Улица*</label>
                                <div class="input-wrapper">
                                    <input id="order-street" name="street" placeholder="Введите улицу" type="text"
                                        required class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__delivery-input order-form__delivery-input--mini">
                                <label for="order-building">Корп/стр</label>
                                <div class="input-wrapper">
                                    <input id="order-building" name="building" placeholder="Корп/стр" type="text"
                                        inputmode="numeric" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__delivery-input order-form__delivery-input--mini">
                                <label for="order-house">Дом</label>
                                <div class="input-wrapper">
                                    <input id="order-house" name="house" placeholder="Дом" type="text"
                                        inputmode="numeric" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__delivery-input order-form__delivery-input--mini">
                                <label for="order-apartment">Кв/офис</label>
                                <div class="input-wrapper">
                                    <input id="order-apartment" name="apartment" placeholder="Кв/офис" type="text"
                                        inputmode="numeric" class="input">
                                </div>
                            </div>
                            <div class="form-block order-form__delivery-input order-form__delivery-input--mini">
                                <label for="order-time">Время доставки</label>
                                <div class="input-wrapper">
                                    <input id="order-time" name="time" type="text" placeholder="__/__" class="input">
                                </div>
                            </div>
                            <div class="order-form__delivery-cost">
                                Стоимость доставки
                                <div class="order-form__delivery-cost-value">
                                    <span class="price-value">0</span>
                                    <span class="price-currency">₽</span>
                                </div>
                            </div>
                            <h3 class="title title-h3-v3 order-form__title">Оплата</h3>
                            <div class="form-block order-form__payment-method-radio" id="order-payment-method">
                                <label for="order-payment-method-1" class="order-custom-radio">
                                    <input id="order-payment-method-1" type="radio" name="payment-method"
                                        value="Банковская карта" checked>
                                    <span class="radio-mark"></span>
                                    Банковская карта
                                </label>
                                <label for="order-payment-method-2" class="order-custom-radio">
                                    <input id="order-payment-method-2" type="radio" name="payment-method"
                                        value="Наличными">
                                    <span class="radio-mark"></span>
                                    Наличными
                                </label>
                                <label for="order-payment-method-3" class="order-custom-radio">
                                    <input id="order-payment-method-3" type="radio" name="payment-method"
                                        value="Apple pay">
                                    <span class="radio-mark"></span>
                                    Apple pay
                                </label>
                                <label for="order-payment-method-4" class="order-custom-radio">
                                    <input id="order-payment-method-4" type="radio" name="payment-method"
                                        value="Google pay">
                                    <span class="radio-mark"></span>
                                    Google pay
                                </label>
                                <label for="order-payment-method-5" class="order-custom-radio">
                                    <input id="order-payment-method-5" type="radio" name="payment-method"
                                        value="Криптовалюта">
                                    <span class="radio-mark"></span>
                                    Криптовалюта
                                </label>
                                <label for="order-payment-method-6" class="order-custom-radio">
                                    <input id="order-payment-method-6" type="radio" name="payment-method"
                                        value="С расчетного счета">
                                    <span class="radio-mark"></span>
                                    С расчетного счета
                                </label>
                            </div>
                            <h3 class="title title-h3-v3 order-form__title">Промокод</h3>
                            <div class="form-block order-form__promo-code-input">
                                <div class="input-wrapper">
                                    <input id="order-promo-code" name="promo-code" placeholder="Промокод" type="text"
                                        class="input">
                                </div>
                                <button type="button" class="button-promo-code order-form__promo-code-button">Применить
                                </button>
                            </div>
                            <div class="order-form__cost">
                                <div class="order-form__cost-total">
                                    <span class="order-form__cost-total-label">Общая сумма заказа</span>
                                    <div class="order-form__cost-total-value">
                                        <span class="price-value">0</span>
                                        <span class="price-currency">₽</span>
                                    </div>
                                </div>
                                <div class="order-form__cost-discount">
                                    <span class="order-form__cost-discount-label">Скидка =</span>
                                    <div class="order-form__cost-discount-value">
                                        <span class="price-value">0</span>
                                        <span class="price-currency">₽</span>
                                    </div>
                                </div>
                                <div class="order-form__cost-delivery">
                                    <span class="order-form__cost-delivery-label">Доставка =</span>
                                    <div class="order-form__cost-delivery-value">
                                        <span class="price-value">0</span>
                                        <span class="price-currency">₽</span>
                                    </div>
                                </div>
                            </div>
                            <button class="button button-order order-form__button">отправить</button>
                            <div class="form__info order-form__info">Нажимая на кнопку «К Оплате», я даю свое согласие
                                на
                                обработку персональных данных, в соответствии с <a href="">Политикой
                                    конфиденциальности</a>,
                                а так же ознакомлен с условиями оплаты и доставки
                            </div>
                        </form>
                    </div>
                    <div class="order__column-2">
                        <div class="order-resume order__resume">
                            <h2 class="title title-h2-v4 order-resume__title">Ваш заказ:</h2>`
                            <ul class="cart-items order-resume__items">
                                <!--Dynamic generation...!-->
                            </ul>
                            <div class="cart-result order-resume__result">
                                Предварительный итог:
                                <div class="cart-result__price">
                                    <span class="price-value">0</span>
                                    <span class="price-currency">руб</span>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("src/templates/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>