<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ошибка оплаты</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("src/templates/menu.ejs") %>
    <%- include("src/templates/order-call.ejs") %>
    <%- include("src/templates/cart.ejs") %>
    <%- include("src/templates/header.ejs") %>
    <main>
        <section class="payment-error header-modification-point">
            <div class="container">
                <h1 class="title title-h1-v2 payment-error__title">
                    <span>Ошибка</span>
                    <span>платежа</span>
                </h1>
                <div class="payment-error__wrapper">
                    <div class="payment-error__info">
                        <div class="payment-error__notification">Произошла ошибка....</div>
                        <div class="payment-error__offer">Попробуйте оплатить еще раз!</div>
                    </div>
                    <div class="payment-error__links">
                        <a href="" class="payment-error__pay-link">Оплатить еще раз</a>
                        <a href="" class="payment-error__back-link">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("src/templates/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>