<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ошибка оплаты</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("blocks/menu.ejs") %>
    <%- include("blocks/order_call.ejs") %>
    <%- include("blocks/cart.ejs") %>
    <%- include("blocks/header.ejs") %>
    <main>
        <section class="search-error header-modification-point">
            <div class="container">
                <h1 class="title title-h1-v4 search-error-title search-error__title">
                    <span>Результат поиска:</span>
                    <span class="search-error-title__result">розы</span>
                </h1>
                <div class="search-error__wrapper">
                    <div class="search-error__text">По данному запросу ничего не найдено. Попробуйте еще раз
                        или перейдите в каталог
                    </div>
                    <a class="button button-catalog search-error__button-catalog" href="#">В каталог</a>
                </div>
            </div>
        </section>
    </main>
    <%- include("blocks/footer.ejs") %>
    <script src="/src/js/script.js" type="module"></script>
</body>

</html>