@use "/src/sass/basic/variables" as *;

.close {
    position: absolute;
    inline-size: 10px;
    block-size: 10px;
    cursor: pointer;

    span {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        inline-size: 10px;
        block-size: 1px;
        background-color: $accent-color-1;
        transform-origin: center;

        &:first-child {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:last-child {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}