@use "/src/sass/basic/variables" as *;

.title {
    text-transform: uppercase;

    &-h1-v1 {
        font-family: $second-family;
        color: $text-color;
        font-size: 200px;
        font-weight: 300;
        letter-spacing: 0.2em;
        line-height: 242px;
        text-align: center;
    }

    &-h2-v1 {
        font-family: $second-family;
        color: $text-color;
        font-size: 100px;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 121px;
    }

    &-h3-v1,
    &-h3-v2 {
        color: $accent-color-1;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.04em;
        line-height: 44px;
    }

    &-h3-v2 {
        color: $accent-color-3;
    }

    &-h4-v1 {
        color: $accent-color-1;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.04em;
        line-height: 21px;
    }
}

@media screen and (max-width: 320px) {
    .title-h1-v1 {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 0.1em;
        line-height: 61px;
    }

    .title-h2-v1 {
        font-size: 40px;
        line-height: 48px;
    }

    .title-h3-v1 {
        font-size: 20px;
        line-height: 30px;
    }
}

/*
    //1 v 2
    font-family: $second-family;
    color: $text-color;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 121px;
    text-transform: uppercase;

    //1 v 3
    font-family: $second-family;
    color: $text-color;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 48px;
    text-transform: uppercase;

    //2 v 2
    font-family: $font-family;
    color: $accent-color-3;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 30px;
    text-transform: uppercase;

    //3 v 2
    font-family: $font-family;
    color: $accent-color-3;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 44px;
    text-transform: uppercase;

    //3 v3
    font-family: $font-family;
    color: $accent-color-1;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
*/