.social-links {
    padding-inline-start: 0;
    display: flex;
    list-style-type: none;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        inline-size: 24px;
        block-size: 24px;

        img {
            inline-size: 100%;
            block-size: 100%;
        }
    }
}