@use "/src/sass/basic/variables" as *;

.search-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  &__img {
    inline-size: 18px;
    block-size: 18px;
  }

  &__text {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}