<div class="overlay overlay-cart">
    <div class="cart-button-container">
        <!--Dynamic generation!-->
    </div>
    <div class="cart">
        <h2 class="title title-h2-v3 cart__title">Ваша корзина</h2>
        <div class="close cart__close">
            <span></span>
            <span></span>
        </div>
        <ul class="cart-items cart__items">
            <!--Dynamic generation...!-->
        </ul>
        <div class="cart-recommendations cart__recommendations">
            <div class="cart-recommendations__title">Добавьте к заказу <a href="#">Шары</a>:</div>
            <ul class="cart-recommendations__items">
                <li>
                    <div class="cart-recommendations-item cart-recommendations__item desired-product"
                         data-id="product-5">
                        <div class="cart-recommendations-item__img desired-product__img">
                            <img src="/src/img/modals/basket/img_1.jpg" alt="img 1">
                        </div>
                        <div class="cart-recommendations-item__content">
                            <a href="#" class="cart-recommendations-item__name desired-product__name">ШАР
                                “ЗВЕЗДА”</a>
                            <div class="cart-recommendations-item__price">
                                <span class="price-value desired-product__price">11.00</span>
                                <span class="price-currency">₽</span>
                            </div>
                            <form action="">
                                <button class="cart-recommendations-item__button desired-product__button"
                                        type="button">
                                    Добавить
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cart-recommendations-item cart-recommendations__item desired-product"
                         data-id="product-6">
                        <div class="cart-recommendations-item__img desired-product__img">
                            <img src="/src/img/modals/basket/img_2.jpg" alt="img 2">
                        </div>
                        <div class="cart-recommendations-item__content">
                            <a href="#" class="cart-recommendations-item__name desired-product__name">ШАР
                                “СЕРДЦЕ”</a>
                            <div class="cart-recommendations-item__price">
                                <span class="price-value desired-product__price">11.00</span>
                                <span class="price-currency">₽</span>
                            </div>
                            <form action="">
                                <button class="cart-recommendations-item__button desired-product__button"
                                        type="button">
                                    Добавить
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cart-result cart__result">
            Предварительный итог:
            <div class="cart-result__price">
                <span class="price-value">0</span>
                <span class="price-currency">руб</span>.
            </div>
        </div>
        <div class="cart__info">Чтобы узнать стоимость доставки, перейдите к оформлению заказа.</div>
        <a href="/order" class="cart__link">Оформить заказ</a>
    </div>
</div>