<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a class="logo footer__logo" href="/index">
                <img alt="logo" src="/src/logo/logo.png">
            </a>
            <div class="footer__details">
                <h4 class="title title-h4-v1 footer__title">реквизиты</h4>
                <div class="footer__description">ООО «Ловефлове» 220035,
                    <address>Республика Беларусь, г. Минск, ул. Тимирязева д. 67, комн. 112 (пом.11)</address>
                    УНП 193263781, р/с BY55MTBK30120001093300096372 ЗАО «МТБанк», БИК MTBKBY22 220007,
                    <address>г. Минск, улица Толстого</address>
                </div>
            </div>
            <div class="footer__catalog footer__catalog--shop">
                <a href="">
                    <h4 class="title title-h4-v1 footer__title">Каталог</h4>
                </a>
                <nav>
                    <ul class="footer__catalog-links">
                        <li><a class="footer__catalog-link" href="">Популярное</a></li>
                        <li><a class="footer__catalog-link" href="">Сухоцветы</a></li>
                        <li><a class="footer__catalog-link" href="">Букеты роз</a></li>
                        <li><a class="footer__catalog-link" href="">Композиции из цветов</a></li>
                        <li><a class="footer__catalog-link" href="">Индивидуальный букет</a></li>
                        <li><a class="footer__catalog-link" href="">Букет на праздник</a></li>
                        <li><a class="footer__catalog-link" href="">Упаковка подарков</a></li>
                        <li><a class="footer__catalog-link" href="">Шары</a></li>
                        <li><a class="footer__catalog-link" href="">Открытки</a></li>
                        <li><a class="footer__catalog-link" href="">Конверты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__catalog footer__catalog--bouquet">
                <a href="">
                    <h4 class="title title-h4-v1 footer__title">Букет</h4>
                </a>
                <nav>
                    <ul class="footer__catalog-links">
                        <li><a class="footer__catalog-link" href="">Для девушки</a></li>
                        <li><a class="footer__catalog-link" href="">Для мужчины</a></li>
                        <li><a class="footer__catalog-link" href="">Для жены</a></li>
                        <li><a class="footer__catalog-link" href="">Для мамы</a></li>
                        <li><a class="footer__catalog-link" href="">Для коллеги</a></li>
                        <li><a class="footer__catalog-link" href="">Для начальника</a></li>
                        <li><a class="footer__catalog-link" href="">Для дочки</a></li>
                        <li><a class="footer__catalog-link" href="">Для детей</a></li>
                        <li><a class="footer__catalog-link" href="">Для женщины</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__pages">
                <nav>
                    <ul class="footer__pages-links">
                        <li><a class="footer__pages-link" href="/delivery_payment">Доставка и оплата</a></li>
                        <li><a class="footer__pages-link" href="/about">О нас</a></li>
                        <li><a class="footer__pages-link" href="/faq">FAQ</a></li>
                        <li><a class="footer__pages-link" href="/contacts">Контакты</a></li>
                        <li><a class="footer__pages-link" href="/corporate_information">для корпоративных клиентов</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__contacts">
                <a class="email footer__email" href="mailto:zakaz@loverflower.by">zakaz@loverflower.by</a>
                <div class="delivery-info footer__delivery">Доставка 24/7 по договоренности с оператором</div>
                <address class="address footer__address">ул. Тимирязева 67</address>
                <div class="schedule footer__schedule">
                    <span><time datetime="10:00">10:00</time> до <time datetime="21:00">21:00</time></span>
                    <span>без выходных</span>
                </div>
                <a class="footer__phone" href="tel:+375291136969">+375 (29) 113-69-69</a>
                <div class="footer__call-info">прием звонков круглосуточно</div>
                <ul class="social-links footer__social-links">
                    <li>
                        <a class="social-links__item" href="">
                            <img alt="instagram" src="/src/icons/promo/instagram.svg">
                        </a>
                    </li>
                    <li>
                        <a class="social-links__item" href="">
                            <img alt="whatsapp" src="/src/icons/promo/whatsapp.svg">
                        </a>
                    </li>
                    <li>
                        <a class="social-links__item" href="">
                            <img alt="viber" src="/src/icons/promo/viber.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>