<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="hamburger header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a class="logo header__logo" href="/index">
                <img alt="logo" src="/src/logo/logo.png">
            </a>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__menu-item header__catalog">
                        <a class="header__link" href="">Каталог</a>
                        <nav class="header__submenu">
                            <ul class="header__submenu-items">
                                <li class="header__submenu-item"><a href="">Популярное</a></li>
                                <li class="header__submenu-item"><a href="">Сборны букеты</a></li>
                                <li class="header__submenu-item"><a href="">монобукеты</a></li>
                                <li class="header__submenu-item"><a href="">розы</a></li>
                                <li class="header__submenu-item"><a href="">свадебные</a></li>
                                <li class="header__submenu-item"><a href="">Композиции из цветов к коробке</a>
                                </li>
                                <li class="header__submenu-item"><a href="">интерьерные композиции</a></li>
                                <li class="header__submenu-item"><a href="">осенние</a></li>
                                <li class="header__submenu-item"><a href="">индивидуальный букет</a></li>
                                <li class="header__submenu-item"><a href="">сухоцветы</a></li>
                                <li class="header__submenu-item"><a href="">горшечные</a></li>
                                <li class="header__submenu-item"><a href="">дополнительно</a></li>
                            </ul>
                        </nav>
                    </li>
                    <li class="header__menu-item"><a class="header__link" href="/delivery_payment">Доставка и оплата</a>
                    </li>
                    <li class="header__menu-item"><a class="header__link" href="/about">О нас</a></li>
                    <li class="header__menu-item"><a class="header__link" href="/contacts">Контакты</a></li>
                    <li class="header__menu-item"><a class="header__link" href="/faq">FAQ</a></li>
                    <li class="header__menu-item">
                        <a class="search header__search" href="#">
                            <img alt="search" class="search__img" src="/src/icons/header/search.svg">
                            <span class="search__text">Поиск</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__info">
                <a class="email header__email" href="mailto:zakaz@loverflower.by">zakaz@loverflower.by</a>
                <div class="delivery-info header__delivery">Доставка 24/7 по договоренности с оператором</div>
            </div>
            <a href="#" class="header__mobile-logo">
                <span>lover</span>
                <span>flower</span>
            </a>
            <div class="header__addition">
                <a class="header__phone" href="tel:+375291136969">
                    <div class="header__phone-img">
                        <img alt="phone" src="/src/icons/header/phone.svg">
                    </div>
                    <span class="header__phone-text">+375 (29) 113-69-69</span>
                </a>
                <div class="cart-button-container">
                    <!--Dynamic generation...!-->
                </div>
            </div>
        </div>
    </div>
</header>