<div class="menu">
    <a class="logo menu__logo" href="/index">
        <img alt="logo" src="/src/logo/logo.png">
    </a>
    <div class="close menu__close">
        <span></span>
        <span></span>
    </div>
    <a class="search menu__search" href="">
        <img alt="search" class="search__img" src="/src/icons/header/search.svg">
        <span class="search__text">Поиск</span>
    </a>
    <ul class="menu__links">
        <li><a class="menu__link" href="/index">Главная</a></li>
        <li><a class="menu__link" href="">Каталог</a></li>
        <li><a class="menu__link" href="/delivery_payment">Доставка и оплата</a></li>
        <li><a class="menu__link" href="/about">О нас</a></li>
        <li><a class="menu__link" href="/contacts">Контакты</a></li>
        <li><a class="menu__link" href="/faq">FAQ</a></li>
        <li><a class="menu__link" href="/corporate_information">для корпоративных клиентов</a></li>
    </ul>
    <a class="email menu__email" href="mailto:zakaz@loverflower.by">zakaz@loverflower.by</a>
    <div class="delivery-info menu__delivery">Доставка 24/7 по договоренности с оператором</div>
    <address class="address menu__address">ул. Тимирязева 67</address>
    <div class="schedule menu__schedule">
        <span><time datetime="10:00">10:00</time> до <time datetime="21:00">21:00</time></span>
        <span>без выходных</span>
    </div>
    <ul class="menu__documents">
        <li><a class="menu__document" href="">Политика конфиденциальности</a></li>
        <li><a class="menu__document" href="">Обработка персональных данных</a></li>
    </ul>
    <a class="menu__phone" href="tel:+375291136969">+375 (29) 113-69-69</a>
    <ul class="social-links menu__social-links">
        <li>
            <a class="social-links__item" href="">
                <img alt="instagram" src="/src/icons/promo/instagram.svg">
            </a>
        </li>
        <li>
            <a class="social-links__item" href="">
                <img alt="whatsapp" src="/src/icons/promo/whatsapp.svg">
            </a>
        </li>
        <li>
            <a class="social-links__item" href="">
                <img alt="viber" src="/src/icons/promo/viber.svg">
            </a>
        </li>
    </ul>
</div>