@use "/src/sass/basic/variables" as *;

.schedule {
  display: flex;
  flex-direction: column;

  span {
    color: $text-color;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}