@use "/src/sass/basic/variables" as *;

.just-validate-error-label {
  display: none;
}

.form-error {
  margin-block-start: 4px;
  color: $error-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
}