@use "/src/sass/basic/variables" as *;

.form__info {
    max-inline-size: 70%;
    color: $text-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.02em;

    a {
        color: $accent-color-3;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}