@use "/src/sass/basic/variables" as *;

.cart {
  &-result {
    inline-size: 100%;
    color: $accent-color-1;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    &__price {
      display: inline;
    }
  }
}

@media screen and (max-width: 320px) {
  .cart {
    &-result {
      inline-size: 238px;
      font-size: 10px;
      line-height: 15px;
    }
  }
}