@use "/src/sass/basic/variables" as *;

.modal-order-call-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__input {
        inline-size: 100%;

        input {
            padding-block: 19px 20px;
            padding-inline: 20px;
            inline-size: 100%;
            border: 1px solid $accent-color-1;
            background-color: transparent;

            &,
            &::placeholder {
                color: $accent-color-1;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.04em;
                line-height: 21px;
            }

            &::placeholder {
                text-transform: uppercase;
            }

            &:focus {
                border: none;
                outline: 1px solid $accent-color-1;
            }
        }

        &:not(:first-child) {
            margin-block-start: 10px;
        }
    }

    &__button {
        margin-block-start: 20px;
    }

    &__info {
        margin-block-start: 10px;
    }
}