@use "/src/sass/basic/variables" as *;

.order-steps {
    background-image: url("/src/img/pages/home/order_steps/bg.png");
    background-position: left top;
    background-size: auto;
    background-repeat: no-repeat;
    margin-block-start: -208px;
    padding-block-end: 160px;

    &__title {
        margin-block-start: -21px;

        span {
            display: block;

            &:last-child {
                margin-block-start: -19px;
            }
        }
    }

    &__wrapper {
        position: relative;
        margin-block-start: 65px;
        padding-inline-start: 380px;
        display: flex;
        justify-content: flex-start;
        column-gap: 115px;

        &::before {
            content: "";
            position: absolute;
            top: -40px;
            left: 380px;
            display: block;
            inline-size: 65px;
            block-size: 10px;
            background-color: $accent-color-3;
        }
    }

    &__column {
        inline-size: 265px;
        display: flex;
        justify-content: flex-start;
    }

    &__column:nth-child(2) {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -106px;
            display: block;
            inline-size: 1px;
            block-size: 100%;
            background-color: $accent-color-3;
        }
    }

    &__items {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 12px;
    }

    &__description {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 21px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1920px) {
    .order-steps {
        background-position: center center;
        background-size: cover;
        //TODO
    }
}

@media screen and (max-width: 320px) {
    .order-steps {
        background-image: url("/src/img/pages/home/order_steps/bg_mobile.png");
        background-position: center top;
        margin-block-start: -176px;
        padding-block-end: 174px;

        &__title {
            span {
                display: block;
                text-align: center;

                &:last-child {
                    margin-block-start: 0;
                }
            }
        }

        &__wrapper {
            margin-block-start: 50px;
            padding-inline-start: 0;
            flex-direction: column;
            column-gap: 0;
            row-gap: 20px;

            &::before {
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                inline-size: 45px;
            }
        }

        &__column {
            inline-size: 100%;

            &:nth-child(1) {
                .order-steps__items {
                    li:nth-child(1) {
                        margin-inline-start: 153px;
                    }

                    li:nth-child(2) {
                        margin-inline-start: 102px;
                    }

                    li:nth-child(3) {
                        margin-inline-start: 51px;
                    }
                }
            }

            &:nth-child(2) {
                &::after {
                    display: none;
                }
            }
        }

        &__items {
            row-gap: 20px;
        }

        &__item {
            row-gap: 10px;
        }

        &__description {
            text-transform: capitalize;
        }
    }
}