@use "/src/sass/basic/variables" as *;

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;

  &__img {
    inline-size: 18px;
    block-size: 18px;
  }

  &__text {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}