@use "/src/sass/basic/variables" as *;

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    inline-size: 100%;
    min-block-size: 80px;
    z-index: 2;
    background-color: transparent;
    transition: all 0.3s linear;

    &__wrapper {
        inline-size: 100%;
        margin-block: 0;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        inline-size: 34px;
        block-size: 75px;
    }

    &__menu {
        padding-inline-start: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        list-style-type: none;
    }

    &__link {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 21px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.3s linear;

        &:hover {
            color: $accent-color-1;
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }

    &__catalog {
        position: relative;
    }

    &__submenu {
        position: absolute;
        display: none;
        top: 100%;
        left: -20px;
        padding-block-start: 33px;

        &.active {
            display: block;
        }

        &-items {
            padding-inline-start: 0;
            padding-block: 10px;
            padding-inline: 20px;
            backdrop-filter: blur(20px);
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 4px;
            list-style-type: none;
        }

        &-item {
            a {
                color: $text-color;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.04em;
                line-height: 21px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 4px;
    }

    &__phone {
        display: none;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        color: $accent-color-1;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 21px;
        text-decoration: none;

        &-img {
            inline-size: 18px;
            block-size: 18px;
        }
    }

    &--dark {
        background-color: $bg-color;
    }
}

@media screen and (max-width: 320px) {
    .header {
        &__logo {
            display: none;
        }

        &__menu {
            display: none;
        }

        &__search {
            display: none;
        }

        &__info {
            display: none;
        }

        &__phone {
            display: none;
        }
    }
}