@use "/src/sass/basic/variables" as *;

.hamburger {
    display: none;
    flex-direction: column;
    row-gap: 3px;
    inline-size: 20px;
    block-size: 9px;
    cursor: pointer;
    z-index: 100;

    span {
        display: block;
        inline-size: 20px;
        block-size: 1px;
        background-color: $accent-color-1;
    }
}

@media screen and (max-width: 320px) {
    .hamburger {
        display: flex;
    }
}